<%= stylesheet_link_tag "styles.css" %>

<button type="button"><%= link_to 'Check out my blog', controller: 'articles' %></button>
<button type="button"><%= link_to 'Learn more about me', controller: 'about' %></button>

<h1>Welcome to my Rails app!</h1>

<%= image_tag("doge.jpg") %>
